body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


textarea {
    width:200px;height:25px;font-size:25px;float:inherit
}

ul {
margin-top:50px;
}

ul#menu {
float:right;
margin-top:0;
}


/*
.dropv, .dropv ul {padding: 0; margin: 0; list-style: none;}
.dropv a {display: inline; width: 164px;}
.dropv li {float: left; padding: 0px 8px 2px 0px;} 
.dropv li ul {position: absolute; background: black; 
  padding: 0px 0px 0px 4px; width: 170px; left: -9999px;} 
.dropv li:hover ul {left: auto; } /* nest list under hovered list items 
.dropv li ul li a {color: lightgray; text-decoration: none; display: block;}
.dropv li ul li a:hover {color: black; background:darkgray;}
*/

pre {
    border: none !important;
    background-color: white;
}

/* change the listing BAR*/
th {
    background-color: darkgray;
}

#shell {
 width:500px;
 height:300px;
 background:lightGrey; 
 border-radius: 10px 10px 10px 10px;
 overflow:hidden;
}


.table a {
 padding:5px;
       background-clip:padding-box;
    background-color: blueviolet ;
        color: white;
        
        /*
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  

 text-shadow:none;
            */
}
   
.jumbotron{
    text-align:center;
}

.clickhere{
    text-align:end;
}

    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=78);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 33%;
        width: 480px;
        height: 500px;
        padding: 30px;
        border: 10px solid #428bca;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }

aboutcenter {
        text-align: center;
}

        .help_content {
        display: none;
        position: absolute;
        top: 10%;
        left: 2%;
        width: 1350px;
        height: 700px;
        padding: 0px;
        border: 10px solid lightblue;
        background-color: black;
        z-index:1002;
        overflow: auto;
    }

    #light a{
        color:black;
    }

    /* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {

  
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Fixed navbar styles */
body > .container {
  padding-top: 60px;
}

navbar-default {
    background-color: black;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

/*.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}*/

code {
  font-size: 80%;
}



#footer {
   background-color: #222222;
   bottom: 0;
   height: 60px;
   position: relative;
   width: 100%;
}

loginresize {
    height: auto; 
    width: auto; 
    max-width: 16px; 
    max-height: 16px;
}

.halfsize {
    -moz-transform:scale(0.75);
    -webkit-transform:scale(0.75);
    transform:scale(0.75);
}

    ul.links {
        list-style-type: none;
    }    
        ul.links li {
            display: inline-block;
            border-left: 1px solid black;
            padding-left: 10px;
            margin-left: 10px;
        }    
            ul.links li:first-child {
                border-left: 0;
                padding-left: 0;
                margin-left: 0;
            }