@{
    //ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@



<h1>File Upload</h1>
@using (Html.BeginForm("Upload",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Upload file" />
    <br>
}
<br />
<h1>File Download</h1>
@using (Html.BeginForm("Download",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Download Image:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Download file" />
    <br>
}
