@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="textarea"> [L] e a r n i n g &nbsp; [M] a n a g e m e n t &nbsp;[S] y s t e m &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="Account/Login" class="btn btn-primary btn-lg">Login.. &raquo;</a></div>
    <img src="~/RESOURCES/images/symbol.png" />
    
    </p>

</div>
